.footer,
.footer .title,
.footer a {
  color: white;
}

.footer p,
.footer a {
  text-transform: uppercase;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  line-height: $size-3;
}

.footer {
  padding-bottom: $size-1;
  background-color: $primary;
  .footer-logo {
    margin-top: $size-4;
    width: 200px;
    height: 81px;
    @include mobile {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.sub-footer {
  background-color: darken($color: $primary, $amount: 5%);
  color: #666;
  .level {
    padding: $size-6 0;
    .social-icons {
      a {
        display: inline-block;
        color: #666;
        &:first-of-type {
          margin-right: $size-6 / 2;
          margin-left: $size-6 / 2;
        }
      }
      .svg-inline--fa {
        font-size: $size-5;
        transition: 0.3s ease;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
  .site-credit {
    text-transform: initial;
    font-size: 0.8rem;
    letter-spacing: 0;
    a {
      text-transform: initial;
      color: #666;
      letter-spacing: 0;
      transition: 0.3s ease;
      &:hover {
        color: $secondary;
      }
    }
  }
}
