.slick-gallery {
  margin-bottom: $size-1;
  transition: all 2s ease;
  .gallery-wrapper {
    position: relative;
    transition: all 2s ease;
  }
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $primary-alpha;
    padding: 5px 5px 5px 10px;
    p {
      color: white;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
  .slick-dots {
    .slick-active {
      button {
        &::before {
          color: $primary;
        }
      }
    }
  }
}
