header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary;
  z-index: 100;
  .container {
    .navbar {
      background-color: $primary;
    }
    .navbar-brand {
      a {
        text-indent: -10000em;
        display: block;
        height: 100%;
        width: 100%;
      }
      .logo {
        width: 63px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../images/albion-decorators-logo-mobile.svg");
        @include from($desktop) {
          // background-image: url("../images/albion-decorators-logo.svg");
          // width: 80px;
          height: 60%;
        }
      }
      .navbar-burger {
        background-color: transparent;
        border: 0;
        color: white;
        outline: none;
        &:focus {
          outline: none;
        }
      }
    }
    .navbar-menu {
      background-color: $primary;
      position: fixed;
      right: -100%;
      height: $navbar-height;
      width: 100%;
      height: 100vh;
      text-align: center;
      display: block;
      transition: right 0.5s ease;
      @include from($desktop) {
        position: initial;
        width: auto;
        height: $navbar-height-desktop;
        display: flex;
      }
      .menu-is-open & {
        right: 0;
      }
      .navbar-link {
        color: white;
        transition: color 0.3s ease-in;
        background-color: transparent;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
