.hero {
  .hero-body {
    @include mobile {
      padding-top: $size-6;
    }
    .hero-logo {
      max-width: 534px;
      margin: 0 auto $size-4 auto;
      opacity: 0;
      &[data-scroll] {
        transition: opacity 1s;
      }
      &[data-scroll="in"] {
        opacity: 1;
      }
      @include from($tablet) {
        margin-bottom: $size-1;
      }
    }
    .intro {
      background-color: $secondary-alpha;
      margin-bottom: $size-4;
      padding: $size-4 $size-6;

      @include from($tablet) {
        margin-bottom: $size-2;
      }

      @include from($desktop) {
        padding: $size-4;
      }

      opacity: 0;
      &[data-scroll="in"] {
        opacity: 1;
      }
      &[data-scroll] {
        // transition-delay: 5s;
        transition: all 1s;
      }

      .title {
        color: white;
        font-weight: normal;
      }
    }
    .buttons {
      opacity: 0;
      &[data-scroll="in"] {
        opacity: 1;
      }
      &[data-scroll] {
        transition-delay: 2s;
        transition: all 1s;
      }
    }
    .contact-btn {
      opacity: 0;
      &[data-scroll="in"] {
        opacity: 1;
      }
      &[data-scroll] {
        transition-delay: 2s;
        transition: all 1s;
      }
    }
  }
}
