.about {
  .expertise {
    display: flex;
    margin-bottom: $size-6;
    @include from($desktop) {
      margin-bottom: $size-4;
    }
    .svg-inline--fa {
      font-size: $size-4;
      margin-right: $size-6;
      @include from($desktop) {
        font-size: $size-3;
        margin-right: $size-6;
      }
    }
  }
  .about-info {
    margin-bottom: $size-1;
    @include from($desktop) {
      margin-bottom: $size-1 * 2;
    }
    .title {
      &.is-1 {
        font-weight: 300;
      }
      &.is-4 {
        font-weight: 400;
        @include from($desktop) {
          padding: 0 $size-1 * 2;
        }
      }
    }
  }
}
