// Colors
$primary: #0b1632;
$primary-alpha: rgba(11, 22, 50, 0.6);
$secondary: rgba(70, 169, 255, 1);
$secondary-alpha: rgba(70, 169, 255, 0.4);

// Heights
$navbar-height: 3.25rem;
$navbar-height-desktop: 3.5rem;
